@import "./variables.less";
@import "./mixins.less";

.phase-card {
  .title-wrapper {
    .title {
      color: @aqua;
    }
    .position();
  }

  .referral-wrapper {
    .ant-input-affix-wrapper-borderless {
      max-width: 350px;
    }
    .ant-input-borderless {
      width: 100%;
      margin-right: 30px;
      color: @aqua;
      border-bottom: 1px solid @aqua !important;
    }
    .ant-input-suffix {
      position: absolute;
      right: 14px;
      top: 10px;
    }
    .position();
  }

  .deposit-wrapper {
    .token-type {
      margin-bottom: 20px;
      text-align: center;
    }
    .ant-input-borderless {
      width: 50%;
      margin-right: 20px;
      color: @aqua;
      border-bottom: 1px solid @aqua;
    }
  }
  .native-wrapper {
    .position();
  }
  .elevation();
  .generalCard();
}
