@import "./variables-light.less";
@import "./mixins.less";

.phase-card-light {
  .title-wrapper {
    .title {
      color: @aqua;
    }
  }

  .referral-wrapper-light {
    .ant-input-borderless {
      border-bottom: 1px solid @aqua !important;
    }
  }

  .deposit-wrapper-light {
    .ant-input-borderless {
      color: @aqua;
      border-bottom: 1px solid @aqua;
    }
  }
}
