@import "~antd/dist/antd.less";

.header {
  padding: 24px;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  padding: 24px;
  min-height: 100vh;
  background-color: #ecf4ff;
  display: flex;
  justify-content: center;
}

.backTop {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6160ff;
  color: #ecf4ff;
  height: 40px;
  width: 40px;
  border-radius: 50px;
  svg {
    height: 24px;
    width: 24px;
  }
}
.stats-card {
  width: 500px;
  .stats-info {
    display: flex;
    justify-content: space-between;
  }
}
