@import "./variables.less";
@import "./mixins.less";

.referral-card {
  .referral-wrapper {
    .ant-input-borderless {
      width: 50%;
      margin-right: 20px;
      color: @aqua;
      border-bottom: 1px solid @aqua;
    }
    .position();
  }
  .elevation();
  .generalCard();
}
